Package: eduice-all
Version: 1.0
Architecture: all
Maintainer: MountainOS <mountainoslinux@gmail.com>
Installed-Size: 9
Depends: gnome-paint, gimp, kalgebra, inkscape, marble, kdenlive, kdevelop, kgeography, kwave, kwordquiz, librecad, subtitlecomposer, fritzing, chemtool, tuxtype, tuxmath, step, stellarium, kalzium, scilab, minuet, rocs, kig, ktechlab, labplot, kanagram
Section: misc
Priority: optional
Multi-Arch: foreign
Homepage: mountainlinuxos.wordpress.com/eduice
Description: EduIce tools all
 This package installs all education apps for MountainOS EduIce
 .
 second paragraph
